@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.city-card {
  position: relative;
  border: black solid 2px;
  min-width: 350px;
  min-height: 200px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  margin-top: 20px;
}

ul > li {
  list-style: none;
}

.general-forecast,
.forecast-details {
  margin-top: 20px;
}

.err {
  color: red;
  font-size: 8pt;
  text-align: left;
  font-weight: 300;
}

.welcome-msg {
  margin-top: 150px;
  text-shadow: black 0px 0px 10px;
  color: white;
}
