.head-fnt {
    font-family: 'Questrial', sans-serif;
}

body {
    font-family: 'Ubuntu', sans-serif;
}
.p-fnt{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 18pt;
}

#head-img {
    height: 80vh;
    background-image: url(../imgs/Earner_Home_bg_mobile.png);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

.brd{
    border-radius: 28px !important;
    margin: 5px !important;
    font-size: 14px !important;
    padding: 0px 7px !important;
}

#h-con {
    min-width: 90% !important;
    position: relative;
}

.tabs-head {
    height: 80px !important;
    font-weight: 500;
    padding: 10px;
}

#test-swipe-1 {
    padding: 15px 25px;
}

.uber4b {
    background-image: url(../imgs/Uber-4-bussiness.png);
    height: 300px;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    padding-top: 30px;
}

@media screen and (min-width:700px) {

    #tabs-con {
        width: 30vw !important;
        min-width: 450px;
        position: absolute;
        z-index: 1;
        transform: translate(7vw,5vw);

    }

    #head-img {
        background-image: url(../imgs/Earner_Home_bg_desktop2x.png);
        min-height: 750px;
    }
}