* {
    padding:  0px;
    margin: 0px;
}

body {
    background-image: url(digital-background.jpg);
    background-repeat:inherit ;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-blend-mode: luminosity;
    background-color: lightblue;
    font-family: 'Poppins', sans-serif;
    font-size: 18pt;

}

.container {
    display: flex;
    flex-wrap: wrap;
}

.big {
    height: 90vh;
    width: 90%;
    padding: 2%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.644);
    margin: 5vh auto 0 auto;
    overflow: auto;
}

header {
    height: 150px;
}

main {

}
.photo {
    width: 25%;
}

 #photo {
    display: block;
    border-radius: 50%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
 }




#bio {
    width: 73%;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    margin-left: 20px;
}

p span {
    font-weight: bold;

}

ul {
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 20pt;
}
