* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(202 214 255);
    width: 100%;
    overflow-x: hidden;

}

header{
    width: 100%;
    height: 180px;
    background-color: rgb(46, 0, 98);
    border-radius: 50%;
    transform: translateY(-50%);
}

header > h1 {
    font-family: 'Righteous', cursive;    width: fit-content;
    font-size: 30pt;
    font-weight: 400;
    height: 30%;
    text-align: center;
    margin: auto;
    transform: translateY(185%);
    letter-spacing: 5px;
    color: white;
}

main{
    width: 100%;
    font-family: 'Baloo Tammudu 2', cursive;
}

section {
    width: 100%;
    display: block;
}

h2 {
    color: rgb(46, 0, 98);
    font-size: 25pt;
    text-align: center;
    clear: both;
}

.grid-item {
    border: 2px solid rgb(46, 0, 98);
    max-width: 100%;
    list-style: none;
    margin-bottom: 20px;
}

.grid-item > h3 {
    font-weight: 500;
    font-size: 22pt;
    padding-left: 15px;
    height: fit-content;
    line-height: 25px;
    background-color: rgb(46, 0, 98);
    width: 100%;
    text-align: center;
    padding: 15px 5px 5px 5px;
    margin-bottom: 15px;
    color: white;
}

.grid-item > img {
    max-width: 80%;
    max-height: 90vh;
    box-shadow: 0px 0px 15px rgb(126, 38, 228);
    display: block;
    margin: 20px auto;
    background-color: white;
}

.grid-item > p {
    font-weight: 400;
    font-size: 18pt;
    line-height: 28px;
    margin: 18px 10px 10px 10px;
    padding: 7px;
    color: rgb(46, 0, 98);
}

p::selection {
    background-color: rgb(46, 0, 98);
    color: white;
}
