@media screen and (min-width:600px) {
    .grid-item {
        width: 30%;
        transition-duration:1s;
    }

    .grid-item > img {
        max-width: 90%;
    }

    .grid-floats {
        width: 100%;
        padding: 0px 0px 15px 7%;
    }
    .grid-floats > .grid-item {
        float: left;
        margin: 10px;
        height:550px;
        overflow: hidden;
    }

    .grid-floats > .grid-item:first-child, .grid-floats > .grid-item:nth-child(2) {
        width: 46%;
        height: 400px;
    }
    
    .grid-floats > .grid-item:hover {
        width: 75%;
        height: fit-content;
    }
    
    .grid-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        
    }
    .grid-flex > .grid-item:nth-child(2),
    .grid-flex > .grid-item:first-child {
        flex: 1 0 45%  ;
    }
    .grid-flex > .grid-item{
        margin: 10px;
        flex: 1 0 30%;

    }
    .grid-flex > .grid-item > h3 {
        font-size: 120%;
    }
    
    .grid-flex > .grid-item > p {

    }
}