@media screen and (min-width:1025px) {  
    .grid-item {
        width: 24%;
    }

    .grid-item > img {
        max-width: 90%;
        max-height: 60%;
    }

    .grid-floats {
        width: 90%;
        margin: auto;
    }

    .grid-floats > .grid-item {
        float: left;
        margin: .3%;
        height:550px;
        overflow: hidden;
        cursor: pointer;
        
    }

    .grid-floats > .grid-item:first-child {
        width: 48.5%;
    }

    .grid-floats > .grid-item:nth-child(2) {
        width: 24%
    }
    
    .grid-floats > .grid-item:active {
        animation-name: readmore;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes readmore {

        100% {
            width: 46%;
            height: fit-content;
        }
    }

    .grid-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        
    }
    
    .grid-flex > .grid-item:first-child {
        flex: 1 0 48%  ;
    }

    .grid-flex > .grid-item:nth-child(2) {
        flex: 1 0 23%
    }

    .grid-flex > .grid-item{
        margin: 10px;
        flex: 1 0 23%;

    }
    .grid-flex > .grid-item > h3 {
        font-size: 120%;
    }
    
    .grid-item > p {
        font-size: 2rem;
        line-height: 1.25;
    }
}