*{
/*     border: .5px solid red; */
    padding: 0px;
    margin: 0px 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    padding-top: 150px;
    background: hsla(206, 79%, 76%, 1);
    background: linear-gradient(135deg, hsla(206, 79%, 76%, 1) 0%, hsla(225, 84%, 57%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(206, 79%, 76%, 1) 0%, hsla(225, 84%, 57%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(206, 79%, 76%, 1) 0%, hsla(225, 84%, 57%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#90C8F2", endColorstr="#3664ed", GradientType=1 );
}

h1 {
    padding: 50px;
    text-align: center;
}

.weather-data {
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.head{
    width: 80% !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between !important;
    padding: 0px 100px;

}

.weather-data>div {
    height: 150px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#temp{
    display: block;
    margin: auto 0px;
    cursor: pointer;
}

a{
    margin-left: calc(50% - (107px/2));
}
